#chaticon {
    min-width: 60px;
    background-color: #010516;
    box-shadow: var(--shadow-2);
    color: #FFC106;
    text-align: center;
    border: 1px solid #FFC106;
    border-radius: 20px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 40px;
    bottom: 50px;
    font-size: 17px;
}

#chatbox {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
    width: 25%;
    background-color: #010516;
    border: 1px solid #FFC106;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.5s forwards;
}

@media (max-width: 600px) {
    #chatbox {
        width: 90%; 
        bottom: 20px; 
        right: 5%; 
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #010516;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}